{% extends 'base_layout.html' %}

{% block body %}

    <div style = "font-size:20px" align="center">
    <h1>Current Weather</h1>

    <form>
        <input type="text" name="city" placeholder="weather search">
        <input type="submit" value="Submit">
    </form>

    <br>
    
    <p>City: <b>{{weather.city}}, {{weather.country}}</b></p>
    <p>Description : {{weather.description}} <br>
       Temperature : {{weather.temperature}}&#8451 <br>
       Pressure : {{weather.pressure}} <br>
       Humidity : {{weather.humidity}} <br>
       Wind Speed : {{weather.speed}} <br>
       <img src="http://openweathermap.org/img/w/{{weather.icon }}.png" alt="" width="100px" height="100px">
    </p>
    </div>

    <br>

    
        {% for new, des, i,url in context %}

        <img src="{{i}}" alt="" width="100%">
        <h3>News: </h3> {{new}}
        <h4>Description: </h4> {{des}}
        <a href="{{url}}">Read more</a>
        <br><hr><br><br>
        {% endfor %}

{% endblock %}





